body{
    text-align: center;
    background-color:beige
}

span{
    margin-top: 15px;
}
.image-section {
    display: flex;
    justify-content: center;
}
.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color:burlywood;
}
.section-style2 {
    margin-right: 25px;
    margin-left: 25px;
    background-color:burlywood;
}

